<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    `   <form action="/demo/ajax" method="Post" onclick="reloadTable()">
            <input name="name" type="text" placeholder="Your Name">
            <input name="email" type="text" placeholder="Your Email">
            <input type="submit" name="Add user" >
        </form>
    <table style="width:100%">
            <tr th:each="User:${userList}">
                <td th:text="${User.getId()}"> Id </td>
                <td th:text="${User.getName()}"> Name </td>
                <td th:text="${User.getEmail()}"> Email </td>
            </tr>
    </table>
    <input type="button"  onclick="location.href='/'" value="Back" >
    <script>
        function reloadTable()
        {
        	var xhttp=new XMLHttpRequest();
            xhttp.open('GET','/demo/fun');
            xhttp.save();
        }
    </script>
    </body>
</html>